@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



body{
    
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}
.content{
  
    height: 550px;
    width: 550px;
   
}
/* ---------------header section --------------------*/
header{
    height: 90px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
   
}


#color-picker{
    margin: auto 0;
    height: 2rem;
    width: 3rem;
    border: 1px solid #D1D5DB;
}

form {
    margin: auto 0;
    width: 16.375rem;
    display: flex;
    border: 1px solid #D1D5DB;
    border-radius: 2px;
    align-items: center;
}

select{
    width: 100% ;
    height: 2rem;
    align-items: center;
    border: none;
    outline: 0;
    padding: 0.2rem;
}


button{
    padding: 9px 11px;
    background: transparent;
    border-radius: 4px;
    margin: auto 0;
    border: 1px solid #D1D5DB;
    cursor: pointer;

}

button:hover{
    box-shadow: 0 0 4px black;
}

button:active{
    transform: translateY(4px);
}
/* --------------colors - section----------- */

section{
    height: 460px;
    width: 100%;
    display: flex;
    /* background-color: blue; */
}


.rectangle{
    width: 20%;
    height: 100%;
    cursor: pointer;
}
.color-hex{
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    margin-top: 4px;
}
.color{
    height: 90%;
    background: blue;
    width: 100%;
}

.rectangle:hover{
    transform: scale(1.03);
}



#popup{
    position: fixed;
    bottom: 20%;
    left: auto;
    right: auto;
    display: none;
    width: fit-content;
    font-size: 10px;
    padding: 4px 8px;
    background-color: black;
    color: white;
    opacity: 0.5;
    border-radius: 6px;
}